fastapi # Web framework for building APIs
uvicorn[standard] # ASGI server for FastAPI

sqlalchemy # SQL toolkit and Object-Relational Mapping (ORM) system for Python
psycopg2-binary # PostgreSQL adapter for Python

python-dotenv # Read environment variables from .env file