fastapi # Web framework for building APIs
uvicorn[standard] # ASGI server for FastAPI

sqlalchemy # SQL toolkit and Object-Relational Mapping (ORM) system for Python
psycopg2-binary # PostgreSQL adapter for Python

python-dotenv # Read environment variables from .env file

alembic # Database migration tool for SQLAlchemy
asyncpg # PostgreSQL database adapter for Python

python-jose[cryptography] # JWT library for authentication
passlib[bcrypt] # Password hashing library
bcrypt==4.0.1
python-multipart # File upload library

qdrant-client # Qdrant client for Python

sentence-transformers # Sentence Transformers for embedding
torch # PyTorch for deep learning

ollama # Ollama for LLMs

pytest # Testing framework
pytest-asyncio # Async support for pytest
ruff # Fast Python linter
black # Opinionated code formatter
mypy # Optional static type checker